@model PagedList.IPagedList<HTML_UMA.Models.OrderDetail>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="text-center">
    <h2>Báo cáo bán hàng</h2>
</div>
<div class="row">
    <div class="col-md-8">
        <a href="@Url.Action("ConfigEmail")"><button class="button-create">ConfigEmail</button></a>
    </div>
    <div class="col-md-4 text-right">
        <form action="/Admin/BaoCao/TimKiem">
            <div class="input-group">
                <input class="form-control ui-autocomplete-input" name="search" type="number" id="form-search" placeholder="Nhập mã đơn hàng" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                <span class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <tr>
        <th class="text-center">
            Mã hóa đơn
        </th>
        <th class="text-center">
            Tổng hóa đơn
        </th>
        <th class="text-center">
            Người nhận
        </th>
        <th class="text-center">
            Người thanh toán
        </th>
        <th class="text-center">
            Trạng thái
        </th>
        <th class="text-center">
            Chức năng
        </th>
        <th colspan="2"></th>
    </tr>

@foreach (var item in Model)
{
    <tr class="text-center">
        <td>
            @item.detail_ID
        </td>
        <td>
            @Html.Raw(string.Format("{0:#,#}", item.detail_Totalmoney)) <span>VNĐ</span>
        </td>
        <td>
            @item.detail_ShipLastName @item.detail_ShipName
        </td>
        <td>
            @item.detail_PayLastName  @item.detail_PayName
        </td>
        @if (item.@checked == true)
        {
            <td style="color: forestgreen">
                Đã kiểm tra
            </td>
        }
        else
        {
            <td style="color: red">
                Chưa kiểm tra
            </td>
        }
        <td>
            @Html.ActionLink("Chi tiết", "Details", new { id = item.detail_ID })
        </td>
    </tr>
}

</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>