@model IEnumerable<HTML_UMA.Models.InformationMail>

@{
    ViewBag.Title = "Email";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Email</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SmtpServer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmtpPort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SmtpServer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmtpPort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID })
        </td>
    </tr>
}

</table>
